body{
	background: #ececec;
}
img {
	height: auto;
	max-width: 100%;
}
.content{
	margin-top: 50px;
}
.product {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #c0c0c0;
	height: 390px;
	overflow: hidden;
	padding: 25px 15px;
	position: relative;
	text-align: center;
	transition: all 0.5s ease 0s;
	margin-bottom: 20px;
	float: left;
}
.product:hover {
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}
.product-img {
	height: 200px;
}
.product-title a {
	color: #000;
	font-weight: 500;
	text-transform: uppercase;
}
.product-desc {
	max-height: 60px;
	overflow: hidden;
}
.product-price {
	bottom: 15px;
	left: 0;
	position: absolute;
	width: 100%;
	color: #d51e08;
	font-size: 18px;
	font-weight: 500;
}

.favorite {;
    width: 50px;
    height: 50px;
}

.favorite_icon {
    float: right;
}
.form-group {
    background-color:#fff;
    padding:60px;
    -webkit-box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
    box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
    text-align:center;
    border-radius:5px
}

.form
{
    background-color: #1c1c1f;
    border-color: #dc3545;
    color: #ffffff;
}

.black
{
    color: #000000
}