{% extends 'base.html' %}

{% block title %}
<title>Войти</title>
{% endblock %}

{% block body %}
<div class="sticky">
    <h1>IbraShop</h1>
  </div>
  <div class="nav">
    <p><a href="/">Домой</a> > <a href="">Смена пароля</a></p>
  </div>
  <h2>Смена пароля</h2>
  <h2>{{error}}</h2>
  <form action="" method="POST">
    <table>
        <tr>
        <td>Новый пароль:</td><td><input type="password" name="password" required></td>
        </tr>
        <tr>
        <td>Подтвердите пароль:</td><td><input type="password" name="password_again" required></td>
        </tr>
    </table>
    <input type="submit" value="Подтвердить" style="display:block; margin-left:auto; margin-right:auto; margin-top:1vw;">
  </form>
{% endblock %}