{% extends 'base.html' %}

{% block title %}
<title>Профиль</title>
{% endblock %}

{% block body %}
<div class="sticky">
    <h1>IbraShop</h1>
  </div>
  <div class="nav">
    <p><a href="/">Домой</a> > <a href="">Редактировать профиль</a></p>
  </div>
  <h2>Редактирование профиля</h2>
  <form action="" method="POST" onsubmit="return validateForm()">
  <table>
    <tr>
      <td>Имя:</td><td><input type="text" name="name" id="name" value="{{current_user.name}}"></td>
    </tr>
    <tr>
      <td>Фамилия:</td><td><input type="text" name="surname" id="surname" value="{{current_user.surname}}"></td>
    </tr>
    <tr>
      <td>Email:</td><td><input type="email" name="email" id="email" value="{{current_user.email}}"></td>
    </tr>
    <tr>
      <td>Телефон:</td><td><input type="tel" name="phone" id="phone" value="{{current_user.phone_number}}"></td>
    </tr>
    <tr>
      <td>Адрес:</td><td><input type="text" name="address" value="{{current_user.address}}" class="place"></td>
    </tr>

  </table>
  <input type="submit" value="Сохранить изменения" style="display:block; margin-left:auto; margin-right:auto; margin-top:1vw;">
</form>
<script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
{% endblock %}
