{% extends 'base.html' %}

{% block title %}
<title>Профиль</title>
{% endblock %}

{% block body %}
<div class="sticky">
    <h1>IbraShop</h1>
  </div>
  <div class="nav">
    <p><a href="/">Домой</a> > <a href="">Редактировать профиль</a></p>
  </div>
  <h2>Edit Profile</h2>
  Вы вошли как {{name}} -> {{type}}
  <form action="" method="POST" onsubmit="return validateForm()">
  <table>
    <tr>
      <td>Email:</td><td><input type="email" name="email" value={{current_user.email}}></td>
    </tr>
    <tr>
      <td>Телефон:</td><td><input type="tel" name="phone" value={{current_user.phone_number}} id="phone"></td>
    </tr>
    <tr>
      <td>Адрес:</td><td><input type="text" name="address" value={{current_user.address}}></td>
    </tr>
  </table>
  <input type="submit" value="Сохранить изменения" style="display:block; margin-left:auto; margin-right:auto; margin-top:1vw;">
</form>
<script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
{% endblock %}
