{% extends 'base.html' %}

{% block title %}
<title>IbraShop</title>
{% endblock %}

{% block body %}
<div class="sticky">
  <h1>IbraShop</h1></div>
<ul class="headbar">
  <li><a href="/">Домой</a></li>
  <li><a href="/signup">Новый аккаунт</a></li>
  {% if current_user.is_authenticated %}
    <li><a href="/logout">Выйти</a></li>
  {% else %}
    <li><a href="/login">Войти</a></li>
  {% endif %}
</ul>

{% if current_user.is_authenticated %}
  <p><br/>Вы вошли как {{name}} -> {{type}}</p>
  <div class="centerthis">
  <p class="press"><a href="/viewprofile">Посмотреть профиль</a></p>
  <p class="press"><a href="/editprofile">Редактировать</a></p>
  {% if type=="Customer" %}
    <p class="press"><a href="/buy">Купить</a></p>
  {% elif type=="Seller" %}
    <p class="press"><a href="/sell">Продать</a></p>
  {% endif %}
  <p class="press"><a href="/changepassword">Поменять пароль</a></p>
  </div>
{% else %}
  <p><br/>Войдите в аккаунт, чтобы посмотреть</p>
{% endif %}
</div>
{% endblock %}