{% extends 'base.html' %}

{% block title %}
<title>Регистрация</title>
{% endblock %}

{% block body %}
<div class="login-block">
    <img src="1.png" alt="Scanfcode">
    <h>Введите свои данные</h>
    <form action="#">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                <input type="text" class="form-control" placeholder="Ваш логин">
            </div>
        </div>

        <hr class="hr-xs">

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
                <input type="password" class="form-control" placeholder="Ваш суперпароль">
            </div>
        </div>

        <button class="btn btn-primary btn-block" type="submit">ВОЙТИ НА САЙТ</button>
        <div class="login-footer">
            <h6>или войдите с помощью</h6>
            <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>

    </form>
</div>
{% endblock %}
