<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>
<body>
  <div class="sticky">
    <h1>IbraShop</h1>
  </div>
  <div class="nav">
    <p><a href="/">Домой</a> > <a href="">Создать аккаунт</a></p>
  </div>
  <form action="" method="POST" onsubmit="return checkEqual()">
    <h2>Создать новый аккаунт:</h2>
    <table>
    <tr>
      <td>ТИП АККАУНТА: </td>
      <td>
        <input type="radio" value="Customer" name="type" checked>Клиент &nbsp &nbsp <input type="radio" value="Seller" name="type">Продавец
      </td>
    </tr>
    <tr>
      <td>Имя:</td><td><input type="text" name="name" required></td>
    </tr>
      <tr>
      <td>Фамилия:</td><td><input type="text" name="surname" required></td>
    </tr>
    <tr>
      {% if not email_ok %}
        <h4 class="color: red">Пользователь с таким email уже существует</h4>
      {% endif %}
      <td>Email:</td><td><input type="email" name="email" required></td>
    </tr>
    <tr>
      <td>Телефон:</td><td><input type="tel" name="phone" required></td>
    </tr>
    <tr>
      <td><b>Адрес:</b></td>
    </tr>
    <tr>
      <td>Город:</td><td><input type="text" name="city" required></td>
    </tr>
    <tr>
      <td>Страна:</td><td><input type="text" name="country" required></td>
    </tr>
      <tr>
      <td>День рождения:</td><td><input type="date" name="birthday" required></td>
    </tr>
      {% if not password_ok %}
        <h3 style="color: red">Пароли не совпадают</h3>
      {% endif %}
    <tr>
      <td>Пароль:</td><td><input type="password" name="password" required></td>
    </tr>
    <tr>
      <td>Повторите пароль:</td><td><input type="password" name="confirm_password" required></td>
    </tr>
    </table>
    <p><input type="submit" value="Подтвердить" style="display:block; margin-left:auto; margin-right:auto; margin-top:1vw;"></p>
    <script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
  </form>
</body>
</html>
