{% extends 'base.html' %}

{% block title %}
<title>Профиль</title>
<script>
</script>
{% endblock %}

{% block body %}
<div class="sticky">
        <h1>IbraShop</h1>
    </div>
  <div class="nav">
    <p><a href="/">Домой</a> > <a href="/viewprofile">Посмотреть профиль</a> > <a href="">Профиль пользователя</a></p>
  </div>
  <h2>Профиль пользователя</h2>
  <table>
    <tr>
      <td>Имя:</td><td>{{current_user.name}}</td>
    </tr>
    <tr>
      <td>Email:</td><td>{{current_user.email}}</td>
    </tr>
    <tr>
      <td>Телефон:</td><td>{{current_user.phone_number}}</td>
    </tr>
    {% if type=="Seller" %}
    <tr>
      <td>DEALS IN :</td>
      <td>{% for i in category %}
        {{i}},
      {% endfor %}</td>
    </tr>
    {% endif %}
    <tr>
      <td>Адрес:</td><td>{{current_user.address}}</td>
    </tr>
  </table>
  <p class="press"><a href="/editprofile">Редактировать профиль</a></p>
{% endblock %}
